.adn-list-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .adn-list-cards .adn-list-cards__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px; }
    .adn-list-cards .adn-list-cards__item .adn-card-details {
      position: relative;
      padding: 10px;
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 5px; }
      .adn-list-cards .adn-list-cards__item .adn-card-details .adn-card-details__remove {
        position: absolute;
        top: 5px;
        right: 0;
        font-size: 13px;
        color: #a30000;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 5px 0 0 5px; }
        .adn-list-cards .adn-list-cards__item .adn-card-details .adn-card-details__remove:active, .adn-list-cards .adn-list-cards__item .adn-card-details .adn-card-details__remove:hover {
          color: #ffe5e5;
          background: #a30000; }
      .adn-list-cards .adn-list-cards__item .adn-card-details .adn-card-details__logo > img {
        max-width: 40px; }
      .adn-list-cards .adn-list-cards__item .adn-card-details .adn-card-details__number {
        font-size: 18px;
        font-weight: bold; }

.adn-error-text {
  color: #a30000;
  font-style: italic; }
